header {
  max-width: 1000px;
}

h1 {
  float: left;
}

ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
}

li {
  float: left;
}

a {
  padding: 1rem;
  text-decoration: none;
  color: navy;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: maroon;
}

.nav-right {
  float: right;
}
