<div id="map">
  <img src="{{ imageUrl }}" alt="" height="{{ imageHeight }}" width="{{ imageWidth }}">
  <app-marker
    *ngFor="let seat of seatData"
    [seat]="seat"
    [person]="getPerson(seat.id)"
    [mapScale]="mapScale"
    [markerRadius]="markerRadius"
    (notify)="onNotify($event)"
  ></app-marker>

  <div
    #thisPerson
    class="person"
    *ngIf="showPerson"
    [ngStyle]="{
      'top.px': personY,
      'left.px': personX,
      'height.px': personHeight,
      'width.px': personWidth
    }">
    <img src="{{ personImageUrl }}" (error)="updateUrl()">
    <!-- width="{{ imageDefaultWidth / mapScale }}" -->
    <div class="details">
      <h1>{{ person.name }}</h1>
      <h2>{{ person.title }}</h2>
      <h3>{{ person.email }}</h3>
    </div>
    <div id="personClose" (click)="closePerson()">X</div>
  </div>

</div>
